<ion-view view-title="Notes" ng-controller="NotesCtrl as notes" ng-init="doSomething()">

  <ion-content>
    <ion-list>
    	<div ng-if="notes.noteHistory">
	      <ion-item class="item-button-right" ng-repeat="notes in notes.noteHistory" href="#/app/notes/{{notes.title}}">
	        {{notes.title}}
	      </ion-item>
      </div>
      <div ng-if="notes.noteHistory === undefined">
      	<p class="noNotes">You haven't created any notes yet!</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
